<div id='bs-container'>
    <h2><%= Faker::Company.unique.bs.titleize %></h2>
    <h2><%= Faker::Company.unique.bs.titleize %></h2>
    <h2><%= Faker::Company.unique.bs.titleize %></h2>
    <h2><%= Faker::Company.unique.bs.titleize %></h2>
    <h2><%= Faker::Company.unique.bs.titleize %></h2>
</div>
