<!DOCTYPE html>
<html>
    <head>
        <title>ProjectTracker</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <header>
            <div>
                <h1>Employee Tracker</h1>
                <nav>
                    <%= link_to 'Manage Divisions', divisions_path %>
                    <%= link_to 'Manage Projects', projects_path %>
                </nav>
            </div>
        </header>

        <%= flash[:alert] %>
        <%= flash[:notice] %>

        <main>
            <%= yield %>
        </main>
    </body>
</html>
